.button{
    margin-top: 15px;
    width: 20vw;
    height: 8vh;
    color:whitesmoke;
    font-weight: 100;
    line-height: 1.1;
    font-size: 32px;
    padding: 10px 0;
    background-color: rgb(19, 22, 219);
    outline: none;
    border: 0;
    border-radius: 10px;
}

.main{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: rgb(#b6c5c0);
    border: solid 1px;
    border-radius: 12px;
    width: 35vw ;
    height: 90vh;
}