.container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: rgb(#b6c5c0);
    border: solid 1px;
    border-radius: 12px;
    width: 35vw ;
    height: 90vh;
}