.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: solid 0px;
    border-radius: 20px;
    background-color: rgba(147, 180, 169, 0.24);
    width: 140%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.input, .bio{
    width: 30vw;
    height: 8vh;
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 15px;
    background-color: rgba(78, 80, 82, 0.048);
    color: rgb(23, 25, 27);
}
.input{
    border: 0;
}

.loginButton, .buttonClass, .regirsterButton, .button{
    width: 17vw;
    height: 6vh;
    height: 8vh;
    color:rgb(255, 255, 255);
    font-weight: 200;
    margin-bottom: 18px;
    line-height: 1.1;
    font-size: 22px;
    background-color: rgba(19, 22, 219, 0.349);
    outline: none;
    border: 0;
    border-radius: 10px;
}

/************************************/
.FlexContainer {
    display: flex;
    flex-direction: row;
    margin-left: -30vw;
  }
.sidebar{
    width: 20vw;
    text-align: center;
    height: 200vh;
    margin-top: -30px;
    background-color: rgb(19, 19, 94);
}
.props{
    margin-left: 10vw;
}
.active{
    background-color: rgba(0, 255, 115, 0.288);
    color: wheat;
}
.buttonPointer {
    cursor: pointer;
  }
  